html{
  height: 100%;
}
body {
  display:flex;
  height: 100%;
  margin: 0!important;
  background-color:#efefef;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  flex: 1 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  flex-shrink: 0;
}
label{
  display: inline-block;
  margin-bottom: .5rem;
}
input[type='text']{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: -webkit-fill-available;
}

select{
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: flex;
  text-align: start;
  appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #ced4da;
  border-image: initial;
  padding: .6rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: -webkit-fill-available;
}

input[type='number']{
  display: block;
  width: -webkit-fill-available;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


input[type='email']{
  display: block;
  width: -webkit-fill-available;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type='date']{
  display: block;
  width: -webkit-fill-available;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-color: #f8f9fa;
    padding: .375rem .75rem;

    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover{
  color: #212529;
  background-color: #e0e4e9;
}

.form-group{
  padding:8px;
  margin:4px;
}

.card{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.container{
    padding: 12px;
    margin: 24px;
}

.danger{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.danger:hover{
  color: #f8d7da;
  background-color: #721c24;
  border-color: #f5c6cb;
}

.success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.success:hover{
  color: #fff;
  background-color: #35ce57;
  border-color: #28a745;
}


.warning{ 
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.pull-right{
  float:right;
}

.m-1{
  margin:5px;
}
.m-2{
  margin:10px;
}
.m-3{
  margin:15px;
}

.mt-1{
  margin-top:5px;
}
.mt-2{
  margin-top:10px;
}
.mt-3{
  margin-top:15px;
}

.ml-1{
  margin-left:5px;
}
.ml-2{
  margin-left:10px;
}
.ml-3{
  margin-left:15px;
}

.mr-1{
  margin-right:5px;
}
.mr-2{
  margin-right:10px;
}
.mr-3{
  margin-right:15px;
}

a{
  text-decoration: none;
}